html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-size: 4rem;
  color: #fff;
  display: block;
  margin-top: 1px;
  margin-bottom: 0;
  line-height: 1.4;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin-top: 2px;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
  max-width: 50em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: block;
}
